body{
    background-color: rgb(197, 179, 179);
}

.top-page{
    height: 64px;
    max-height: 100%;
    background-color: rgb(177, 104, 104);
}

.bottom-page{
    padding-top: 25px;
    align-items: center;
}

.top-pad{
    padding-top: 64px;
}

.footer-blue-bg{
    background-color: #6351ce"
}

